.container {
  margin: 0 auto;
}

.wrapper {
  padding: 20px;
}

.hero-img {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.img {
  width: 500px;
}

.para {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.nav {
  padding: 20px 30px;
}

.navbar {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card--body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 15px;
  border-radius: 10px;
  padding: 20px;
}

.card--image {
  width: 300px;
  border-radius: 10px;
}

.card--details {
  margin-top: 10px;
  line-height: 30px;
}

.image--div {
  position: relative;
}

.span {
  position: absolute;
  top: 20px;
  left: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}